/* ========================================

    index
        indexページのみで使うスタイル

    INDEX
        - main
        - anime

======================================== */

/* ========================================
    main
======================================== */
.main-title {
    font-family: $ENG_FONT_FAMILY;
    text-align: center;
    font-size: 50px;
    margin: 30px auto 80px;
}


/* ========================================
    anime
======================================== */
.anime-box {
    height: 500px;
    width: 500px;
    border: 1px solid #ccc;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 50px;
    height: 50px;
    background-color: turquoise;
}