//- 共通変数読み込み
include _variable.pug

//- 変数設定
block setVariable

doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-quiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    //- ページ情報
    title #{title}

    //- css
    block style
      link(href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet")
      link(href='./css/main.css' rel='stylesheet')

  body
    //- メインコンテンツ
    .wrapper
      h1.main-title!=title
      
      #anime
        -
          var animeList = [
            '_box.pug',
          ];
        each item in animeList 
          section.anime-box
            include _box.pug

    block scripts